<div class="slider--logo position-absolute left-0 top-0 z-4">
  <img
    src="{{ 'slider-logo1.png' | asset_img_url: '100x800' }}"
    alt="logo1"
    class="img-fluid">
  <img
    src="{{ 'slider-logo.png' | asset_img_url: '100x100' }}"
    alt="logo1"
    class="img-fluid">
</div>
<!-- Slider for Product Images -->
<div class="slider--main mt-5">
  <!-- Slider Main -->
  <div class="slider-for">
    {% for image in product.images %}
      <img
        src="{{ image | img_url: '800x800' }}"
        alt="{{ image.alt | escape }}"
        width=""
        height=""
        class="img-fluid">
    {% endfor %}
  </div>

  <!-- Slider Navigation -->
  <div class="slider-nav">
    {% for image in product.images %}
      <img
        src="{{ image | img_url: '200x200' }}"
        alt="{{ image.alt | escape }}"
        class="img-fluid pe-4">
    {% endfor %}
  </div>
</div>